Repository Prime-Holding/rx_bloc, pull requests merged in 2021-04, with the labels that each got.

#84 Feature/redux favorite advanced list
  examples/favorites_advanced/favorites_advanced_base/lib/src/models/navigation_item.dart
  examples/favorites_advanced/favorites_advanced_base/pubspec.yaml
  examples/favorites_advanced/redux_favorites_advanced/.gitignore
  examples/favorites_advanced/redux_favorites_advanced/analysis_options.yaml
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_1.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_10.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_11.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_12.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_13.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_14.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_15.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_16.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_17.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_18.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_19.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_2.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_20.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_3.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_4.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_5.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_6.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_7.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_8.jpeg
  examples/favorites_advanced/redux_favorites_advanced/assets/puppie_9.jpeg
  examples/favorites_advanced/redux_favorites_advanced/ios/Flutter/Debug.xcconfig
  examples/favorites_advanced/redux_favorites_advanced/ios/Flutter/Release.xcconfig
  examples/favorites_advanced/redux_favorites_advanced/ios/Podfile
  examples/favorites_advanced/redux_favorites_advanced/ios/Runner.xcodeproj/project.pbxproj
  examples/favorites_advanced/redux_favorites_advanced/ios/Runner.xcworkspace/contents.xcworkspacedata
  examples/favorites_advanced/redux_favorites_advanced/lib/base/models/app_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/redux/app_reducer.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/ui_components/puppies_app_bar.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/models/navigation_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/views/home_page.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/views/home_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/views/home_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/models/puppy_list_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/epics.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/views/search_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/views/search_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/main.dart
  examples/favorites_advanced/redux_favorites_advanced/pubspec.yaml
  examples/favorites_advanced/redux_favorites_advanced/test/feature_home/navbar_test.dart
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/search/puppy_list_test.dart
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/search/puppy_list_test.mocks.dart
  examples/favorites_advanced/redux_favorites_advanced/test/stubs.dart
Labels: sample:Redux

#114 Feature/redux favorite advanced favourites
  examples/favorites_advanced/favorites_advanced_base/lib/src/common_ui_components/puppy_animated_list_view.dart
  examples/favorites_advanced/favorites_advanced_base/lib/ui_components.dart
  examples/favorites_advanced/favorites_advanced_base/pubspec.yaml
  examples/favorites_advanced/redux_favorites_advanced/lib/base/models/app_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/redux/app_reducer.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/models/favorite_list_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/views/favorites_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/views/favorites_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/epics.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/views/search_view.dart
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/search/puppy_list_test.dart
  examples/favorites_advanced/redux_favorites_advanced/test/stubs.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/favorites/views/favorites_page.dart
Labels: sample:Redux

#111 Feature/bloc favourites advanced favourites
  examples/favorites_advanced/bloc_favorites_advanced/lib/base/ui_components/puppies_app_bar.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/favorites/blocs/favorite_puppies_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/favorites/blocs/favorite_puppies_state.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/favorites/views/favorites_page.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/list/ui_component/puppy_animated_list_view.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/search/blocs/puppy_list_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/search/blocs/puppy_list_event.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/search/views/search_page.dart
  examples/favorites_advanced/bloc_favorites_advanced/pubspec.yaml
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/blocs/puppies_extra_details_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/blocs/puppies_extra_details_bloc_test.mocks.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/favorites/blocs/favorite_puppies_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/favorites/blocs/favorite_puppies_bloc_test.mocks.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/search/blocs/puppy_list_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/search/blocs/puppy_list_bloc_test.mocks.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/stubs.dart
  examples/favorites_advanced/favorites_advanced_base/lib/src/common_ui_components/puppy_animated_list_view.dart
  examples/favorites_advanced/favorites_advanced_base/lib/ui_components.dart
  examples/favorites_advanced/favorites_advanced_base/pubspec.yaml
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/favorites/views/favorites_page.dart
Labels: sample: BloC

#131 Bloc favorite advanced search
  examples/favorites_advanced/bloc_favorites_advanced/lib/base/ui_components/puppies_app_bar.dart
Labels: sample: BloC

#128 Migrate to null-safety
  examples/booking_app/pubspec.yaml
  examples/favorites_advanced/rx_bloc_favorites_advanced/pubspec.yaml
  packages/flutter_rx_bloc/doc/ui_integration_tests.md
  packages/rx_bloc/README.md
  packages/rx_bloc_generator/CHANGELOG.md
  packages/rx_bloc_generator/lib/src/utilities/extensions.dart
  packages/rx_bloc_generator/lib/src/utilities/utilities.dart
  packages/rx_bloc_generator/pubspec.yaml
  packages/rx_bloc_generator/test/generator_test.dart
  packages/rx_bloc_list/example/pubspec.yaml
  packages/rx_bloc_list/pubspec.yaml
Labels: pkg:rx_bloc_generator

#133 Feature/redux favorite advanced search
  examples/favorites_advanced/redux_favorites_advanced/lib/base/ui_components/puppies_app_bar.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/models/puppy_list_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/epics.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/views/search_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/main.dart
  examples/favorites_advanced/redux_favorites_advanced/pubspec.yaml
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/search/puppy_list_test.dart
  examples/favorites_advanced/redux_favorites_advanced/test/stubs.dart
Labels: sample:Redux
