Repository Prime-Holding/rx_bloc, pull requests merged in 2021-06, with the labels that each got.

#148 Feature/bloc favorites advanced update
  examples/favorites_advanced/bloc_favorites_advanced/analysis_options.yaml
  examples/favorites_advanced/bloc_favorites_advanced/lib/base/flow_builders/puppy_flow.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/base/ui_components/icon_with_shadow.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/blocs/puppy_mark_as_favorite_state.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/details/blocs/puppy_details_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/details/blocs/puppy_details_event.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/details/ui_components/puppy_details.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/details/ui_components/puppy_details_app_bar.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/bloc/puppy_edit_form_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/ui_components/image_field_bloc_builder.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_app_bar.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_avatar.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_form.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/views/puppy_edit_page.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/edit/views/puppy_edit_providers.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/favorites/blocs/favorite_puppies_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/favorites/blocs/favorite_puppies_event.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/search/blocs/puppy_list_bloc.dart
  examples/favorites_advanced/bloc_favorites_advanced/lib/feature_puppy/validators/puppy_form_validator.dart
  examples/favorites_advanced/bloc_favorites_advanced/pubspec.yaml
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/blocs/puppy_mark_as_favorite_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/details/blocs/puppy_details_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/edit/blocs/puppy_edit_form_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/edit/blocs/puppy_edit_form_bloc_test.mocks.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/favorites/blocs/favorite_puppies_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/feature_puppy/search/blocs/puppy_list_bloc_test.dart
  examples/favorites_advanced/bloc_favorites_advanced/test/stubs.dart
  examples/favorites_advanced/favorites_advanced_base/lib/src/models/puppy.dart
Labels: sample: BloC

#151 Feature/improvements to textformfield and bind
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_form.dart
  packages/flutter_rx_bloc/CHANGELOG.md
  packages/flutter_rx_bloc/README.md
  packages/flutter_rx_bloc/lib/src/rx_text_form_field_builder.dart
  packages/flutter_rx_bloc/pubspec.yaml
Labels: pkg:flutter_rx_bloc

#143 Feature/redux favorite advanced edit
  examples/favorites_advanced/favorites_advanced_base/lib/src/common_ui_components/puppy_animated_list_view.dart
  examples/favorites_advanced/favorites_advanced_base/lib/src/models/puppy.dart
  examples/favorites_advanced/redux_favorites_advanced/android/app/src/main/AndroidManifest.xml
  examples/favorites_advanced/redux_favorites_advanced/android/settings_aar.gradle
  examples/favorites_advanced/redux_favorites_advanced/ios/Runner.xcodeproj/project.pbxproj
  examples/favorites_advanced/redux_favorites_advanced/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  examples/favorites_advanced/redux_favorites_advanced/ios/Runner/Info.plist
  examples/favorites_advanced/redux_favorites_advanced/lib/base/flow_builders/puppy_flow.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/models/app_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/base/redux/app_reducer.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/models/navigation_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_home/views/home_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/details/models/details_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/details/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/details/ui_components/puppy_details_app_bar.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/details/views/puppy_details_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/details/views/puppy_details_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/models/edit_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/redux/epics.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_app_bar.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_avatar.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/ui_components/puppy_edit_form.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/validators/form_validators.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/views/puppy_edit_view.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/edit/views/puppy_edit_view_model.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/models/favorite_list_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/favorites/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/models/puppy_list_state.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/actions.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/feature_puppy/search/redux/reducers.dart
  examples/favorites_advanced/redux_favorites_advanced/lib/main.dart
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/edit/edit_test.dart
  examples/favorites_advanced/redux_favorites_advanced/test/feature_puppy/edit/edit_test.mocks.dart
  examples/favorites_advanced/redux_favorites_advanced/test/stubs.dart
Labels: sample:Redux
