Repository Prime-Holding/rx_bloc, pull requests merged in 2022-10, with the labels that each got.

#322 Fix/unify the look with the web app
  examples/reminders/.gitignore
  examples/reminders/android/app/build.gradle
  examples/reminders/assets/images/prime_logo.jpeg
  examples/reminders/bin/build_runner_build.sh
  examples/reminders/ios/Podfile
  examples/reminders/ios/Runner.xcodeproj/project.pbxproj
  examples/reminders/lib/base/common_blocs/firebase_bloc.dart
  examples/reminders/lib/base/common_blocs/firebase_bloc.rxb.g.dart
  examples/reminders/lib/base/common_ui_components/app_reminder_tile.dart
  examples/reminders/lib/base/common_use_cases/firebase_logout_use_case.dart
  examples/reminders/lib/base/data_sources/local/reminders_local_data_source.dart
  examples/reminders/lib/base/data_sources/remote/auth_data_source.g.dart
  examples/reminders/lib/base/data_sources/remote/count_remote_data_source.g.dart
  examples/reminders/lib/base/data_sources/remote/push_notification_data_source.g.dart
  examples/reminders/lib/base/data_sources/remote/reminders_data_source.dart
  examples/reminders/lib/base/data_sources/remote/reminders_firebase_data_source.dart
  examples/reminders/lib/base/di/app_dependencies.dart
  examples/reminders/lib/base/models/reminder/reminder_list_response.dart
  examples/reminders/lib/base/models/reminder/reminder_model.dart
  examples/reminders/lib/base/repositories/firebase_repository.dart
  examples/reminders/lib/base/repositories/reminders_repository.dart
  examples/reminders/lib/base/routers/router.dart
  examples/reminders/lib/base/routers/router.gr.dart
  examples/reminders/lib/base/services/firebase_service.dart
  examples/reminders/lib/base/services/reminders_service.dart
  examples/reminders/lib/feature_dashboard/blocs/dashboard_bloc.dart
  examples/reminders/lib/feature_dashboard/blocs/dashboard_bloc.rxb.g.dart
  examples/reminders/lib/feature_dashboard/blocs/dashboard_bloc_extensions.dart
  examples/reminders/lib/feature_dashboard/models/dashboard_model.dart
  examples/reminders/lib/feature_dashboard/services/dashboard_service.dart
  examples/reminders/lib/feature_dashboard/views/dashboard_page.dart
  examples/reminders/lib/feature_dashboard/views/dashboard_paginated_list.dart
  examples/reminders/lib/feature_navigation/views/navigation_page.dart
  examples/reminders/lib/feature_reminder_list/blocs/reminder_list_bloc_extensions.dart
  examples/reminders/lib/feature_reminder_list/services/reminder_list_service.dart
  examples/reminders/lib/feature_reminder_list/ui_components/scroll_to_index_widget.dart
  examples/reminders/lib/feature_reminder_list/views/add_reminder_dialog.dart
  examples/reminders/lib/feature_reminder_list/views/reminder_list_page.dart
  examples/reminders/lib/feature_reminder_manage/blocs/reminder_manage_bloc.dart
  examples/reminders/lib/feature_reminder_manage/blocs/reminder_manage_bloc.rxb.g.dart
  examples/reminders/lib/feature_reminder_manage/blocs/reminder_manage_bloc_extensions.dart
  examples/reminders/lib/feature_splash/splash_page.dart
  examples/reminders/pubspec.yaml
  examples/reminders/test/base/common_blocs/user_account_bloc_mock.mocks.dart
  packages/rx_bloc_list/example/ios/Flutter/AppFrameworkInfo.plist
  packages/rx_bloc_list/example/ios/Runner.xcodeproj/project.pbxproj
  packages/rx_bloc_list/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/rx_bloc_list/example/ios/Runner/Info.plist
Labels: sample:reminders

#341 Fix returns not a paginated list if the identifiable is not contained in Paginated List
  packages/rx_bloc_list/lib/src/extensions/identifiable_extensions.dart
Labels: pkg:rx_bloc_list, sample:reminders

#343 Increase the lines for the error text of reminder title validation
  examples/reminders/lib/feature_reminder_list/views/add_reminder_dialog.dart
Labels: sample:reminders

#347 Fix creating a separate group in reminders list when created reminder…
  examples/reminders/lib/base/common_blocs/coordinator_bloc.dart
  examples/reminders/lib/feature_dashboard/services/dashboard_service.dart
  examples/reminders/lib/feature_reminder_list/blocs/reminder_list_bloc.dart
  examples/reminders/lib/feature_reminder_list/di/reminder_list_dependencies.dart
  examples/reminders/lib/feature_reminder_list/services/reminder_list_service.dart
  examples/reminders/lib/feature_reminder_list/ui_components/scroll_to_index_widget.dart
  packages/rx_bloc_list/lib/src/extensions/identifiable_extensions.dart
  packages/rx_bloc_list/test/identifiable_extensions_test.dart
Labels: sample:reminders

#255 Mark the disposedBy extension method for StreamSubscription as deprecated
  examples/booking_app/lib/base/common_blocs/hotel_manage_bloc.dart
  examples/booking_app/lib/base/common_blocs/hotels_extra_details_bloc.dart
  examples/booking_app/lib/feature_home/blocs/navigation_bar_bloc.dart
  examples/booking_app/lib/feature_hotel_favorites/blocs/hotel_favorites_bloc.dart
  examples/booking_app/lib/feature_hotel_search/blocs/hotel_search_bloc.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_home/blocs/navigation_bar_bloc.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/blocs/puppies_extra_details_bloc.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/blocs/puppy_manage_bloc.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/favorites/blocs/favorite_puppies_bloc.dart
  examples/favorites_advanced/rx_bloc_favorites_advanced/lib/feature_puppy/search/blocs/puppy_list_bloc.dart
  packages/flutter_rx_bloc/lib/src/rx_text_form_field_builder.dart
  packages/rx_bloc/CHANGELOG.md
  packages/rx_bloc/lib/src/bloc/loading_bloc.dart
  packages/rx_bloc/lib/src/extensions.dart
Labels: pkg:rx_bloc

#356 Fix/solve compile errors for reminders project
  examples/reminders/lib/base/common_blocs/coordinator_bloc.dart
  examples/reminders/lib/base/common_blocs/coordinator_bloc.rxb.g.dart
  examples/reminders/lib/base/common_blocs/firebase_bloc.dart
  examples/reminders/lib/base/data_sources/remote/reminders_data_source.dart
  examples/reminders/lib/base/data_sources/remote/reminders_firebase_data_source.dart
  examples/reminders/lib/base/models/counter/increment_operation.dart
  examples/reminders/lib/base/models/reminder/reminder_model.dart
  examples/reminders/lib/base/repositories/reminders_repository.dart
  examples/reminders/lib/base/services/reminders_service.dart
  examples/reminders/lib/feature_dashboard/blocs/dashboard_bloc.dart
  examples/reminders/lib/feature_dashboard/services/dashboard_service.dart
  examples/reminders/lib/feature_dashboard/views/dashboard_page.dart
  examples/reminders/lib/feature_facebook_authentication/views/facebook_login_page.dart
  examples/reminders/lib/feature_reminder_list/blocs/reminder_list_bloc.dart
  examples/reminders/lib/feature_reminder_list/services/reminder_list_service.dart
  examples/reminders/lib/feature_reminder_list/views/add_reminder_dialog.dart
  examples/reminders/lib/feature_reminder_list/views/reminder_list_page.dart
  examples/reminders/lib/feature_reminder_manage/blocs/reminder_manage_bloc.dart
  examples/reminders/lib/feature_reminder_manage/blocs/reminder_manage_bloc.rxb.g.dart
  packages/rx_bloc_list/example/lib/main.dart
Labels: sample:reminders

#352 Fix/update documentation reminder project
  examples/reminders/app_spec.md
  examples/reminders/assets/images/add_reminder.png
  examples/reminders/assets/images/login_page_loading.png
  examples/reminders/assets/images/navigation_screen.png
  examples/reminders/assets/images/new_reminder_created.png
  examples/reminders/assets/images/new_reminder_created_dashboard.png
  examples/reminders/assets/images/pull_to_refresh_reminder_list_page.png
  examples/reminders/assets/images/reminder_change_date.png
  examples/reminders/assets/images/reminder_completed.png
  examples/reminders/assets/images/reminder_completed_reminders_page.png
  examples/reminders/assets/images/reminder_deleted.png
  examples/reminders/assets/images/reminder_edit_options.png
  examples/reminders/assets/images/reminder_groups.png
  examples/reminders/assets/images/reminder_incomplete.png
  examples/reminders/assets/images/reminder_list_next_page.png
  examples/reminders/assets/images/reminder_renamed.png
  examples/reminders/lib/base/data_sources/remote/reminders_firebase_data_source.dart
Labels: sample:reminders
