Repository Prime-Holding/rx_bloc, pull requests merged in 2022-07, with the labels that each got.

#277 Fix/update rx bloc generator dependencies
  packages/rx_bloc_generator/CHANGELOG.md
  packages/rx_bloc_generator/analysis_options.yaml
  packages/rx_bloc_generator/lib/src/build_controller.dart
  packages/rx_bloc_generator/lib/src/builders/event_arguments_class.dart
  packages/rx_bloc_generator/pubspec.yaml
  packages/rx_bloc_generator/test/src/rx_bloc_test.dart
Labels: pkg:rx_bloc_generator

#251 rxBlocFakeAsyncTest - fire all asynchronous events without actually needing to wait for real time to elapse
  packages/rx_bloc_test/CHANGELOG.md
  packages/rx_bloc_test/README.md
  packages/rx_bloc_test/lib/src/rx_bloc_test.dart
  packages/rx_bloc_test/pubspec.yaml
  packages/rx_bloc_test/test/helpers/details_bloc/details_bloc.dart
  packages/rx_bloc_test/test/helpers/details_bloc/details_bloc.rxb.g.dart
  packages/rx_bloc_test/test/rx_bloc_test_test.dart
Labels: pkg:rx_bloc_test

#252 bump android settings, remove dependencies singleton
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/di/dependencies.dart.template
  packages/rx_bloc_cli/CHANGELOG.md
  packages/rx_bloc_cli/mason_templates/bricks/rx_bloc_base/__brick__/android/app/build.gradle
  packages/rx_bloc_cli/mason_templates/bricks/rx_bloc_base/__brick__/android/app/src/main/AndroidManifest.xml
  packages/rx_bloc_cli/mason_templates/bricks/rx_bloc_base/__brick__/android/build.gradle
Labels: rx_bloc_cli, pgk:rx_bloc_intelij_plugin

#211 Wrap element auto bloc
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/parser/Bloc.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/parser/Utils.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/intention_action/BlocWrapWithIntentionAction.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/intention_action/Snippets.java
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/ui/ChooseDialog.java
Labels: pgk:rx_bloc_intelij_plugin

#213 Bootstrap directory structure, tests, mocks for the available feature…
  extensions/intellij/intellij_generator_plugin/build.gradle
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/action/BootstrapTestsAction.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/RxGeneratorBase.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/RxTestGeneratorBase.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/components/RxTestBlocFactoryGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/components/RxTestBlocGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/components/RxTestBlocGoldenGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/generator/components/RxTestBlocMockGenerator.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/parser/Bloc.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/parser/Utils.kt
  extensions/intellij/intellij_generator_plugin/src/main/java/com/primeholding/rxbloc_generator_plugin/ui/ChooseBlocsDialog.java
  extensions/intellij/intellij_generator_plugin/src/main/resources/META-INF/plugin.xml
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/rx_bloc_tests/bloc_factory.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/rx_bloc_tests/bloc_golden.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/rx_bloc_tests/bloc_mock.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/rx_bloc_tests/bloc_test.dart.template
Labels: pgk:rx_bloc_intelij_plugin

#209 default exception conversion toString()
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/views/page.dart.template
  extensions/intellij/intellij_generator_plugin/src/main/resources/templates/views_with_default_states/page.dart.template
Labels: pgk:rx_bloc_intelij_plugin
